Source: alarm-clock-applet
Section: gnome
Priority: optional
Maintainer: Tasos Sahanidis <tasos@tasossah.com>
Uploaders: Tasos Sahanidis <tasos@tasossah.com>
Build-Depends: debhelper (>= 11),
               cmake (>= 3.10),
               gettext (>= 0.19.8),
               libglib2.0-dev (>= 2.16.0),
               libgtk-3-dev (>= 3.22.30),
               libgstreamer1.0-dev,
               libnotify-dev (>= 0.7.7),
               gnome-icon-theme (>= 2.15.91),
               libayatana-appindicator3-dev (>= 0.5.3),
               perl,
               gzip
Standards-Version: 3.9.6
Vcs-Git: https://github.com/alarm-clock-applet/alarm-clock.git
Vcs-Browser: https://github.com/alarm-clock-applet/alarm-clock
Homepage: https://alarm-clock-applet.github.io/

Package: alarm-clock-applet
Architecture: any
Depends: gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-good,
         ${shlibs:Depends}, ${misc:Depends}
Suggests: playerctl
Description: alarm clock panel indicator
 Alarm Clock is a fully-featured alarm clock which resides in the notification
 area. It is easy to use yet powerful with support for multiple and repeatable
 alarms, as well as snoozing and a flexible notification system.
 .
 Two types of alarms are supported: Alarm Clocks and Timers.
 Notification is done by either playing a sound or launching an
 application.
